<div class="container main-container">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class="primary-color"><%= @college.name %>
        <small class="small-headers"> edit profile</small>
      </h1>
      <p>The 'Update Team' button at the bottom of the page must be clicked in order to save an edit.</p>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <%= render "form" %>
    </div>
  </div>
</div>
</div>
