<p>Hi, <%= @athlete_requesting_feedback_from_name %>, </p>
<p><%= @athlete_requesting_feedback_name %> has requested your advice on how to improve!</p>

<p><%= link_to "View their profile and leave feedback", athlete_profile_url(@athlete_profile), class: "btn btn-primary" %></p>

<p>Most sincerely,</p>
<p>Devan Moylan </p>
<p>Backyard Lion, CEO</p>

