Hi, <%= @user_full_name %>!<br/>
<p>We've promoted you on social media!  Check out our Facebook and Twitter pages to view!</p> <br />

<p>Twitter: https://twitter.com/BackyardLion</p><br />
<p>Facebook: https://www.facebook.com/backyardlionpage</p> <br /><br />

Keep up the great work!  <br />

Thanks, <br/>
Devan Moylan <br/>
Backyard Lion CEO

