Hi, <%= @user_full_name %>, <br />

I hope you're well!  <br /><br />
You're selected for promotion. The promotion will be shared publically, with college recruiters and on social media. If you have additional accomplishments, let me know. I'm happy to make updates. <br /><br />

If you haven't already, be sure to add a profile picture to your athlete profile. To do this, login and click "Improve Profile" from the navigation. You will find the "Profile Picture" upload field on the "Basic" section of this page.
<br />

<p><%= link_to "Sign in", new_user_session_url, class: "btn btn-primary" %></p><br />

Keep up the good work! <br /><br />

Most sincerely, <br/>
Devan Moylan <br/>
Backyard Lion CEO
