Hi, <%= @user_full_name %>!<br/>
<p>Someone has rated you you!  To see who, sign in using the link below. </p>
<p><%= link_to "Sign in", new_user_session_url, class: "btn btn-primary" %></p>

Thanks, <br/>
Devan Moylan <br/>
Backyard Lion CEO

