<div style="overflow:hidden;">
  <section> <%= render 'static_header' %></section>
  <header class="hero" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <div class = "vp-hero-wrap">
                    <h1 style="text-align:center;">Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="main-section static-sections"><!--main-section-start-->
    <div class="container">
      <div class="col-md-offset-1 col-md-10">
        <div class = "static-main-wrap">
            <p class = "static-hd-text2" style = "margin-top: 20px;">Gaugestage is a social networking site designed specifically for the sports community. Our mission is to connect athletes and coaches to enable them to be more productive and successful. Our registered users (“Members”) share their identities, engage with their network, exchange knowledge, and find new advancement opportunities within sport. We believe that our services empower our Members in such a manner as to achieve their goals.</p>


            <h3 class = "static-main-txt">We follow to the following concepts to preserve your privacy:</h3>
            <p class = "static-hd-text2">
                We guard your private details and will only use the information with good intentions of promotion of your athletic brand, including: share with recruiters, promotion on social media, featured as on Gaugestage or it’s newsletters. We will only give it to other third parties: with your approval; where it is needed to fulfil your instructions; as reasonably needed in order to extend our features and functionality to you; when we believe it is required by law, subpoena or other legal process; or as needed to enforce our User Agreement or protect the rights, property, or safety of Gaugestage, our Members, and the public.<br><br>
                We have implemented appropriate security safeguards designed to protect your information in accordance with industry standards.
                This Privacy Policy applies to Gaugestage.com. We may modify this Privacy Policy from time to time, and if we make material changes to it,  you may review the changes here before you continue to use our Services at anytime. If you object to any changes, you may write us to request a termination of your account. Continuing to use our Services after we update or communicate a notice about any changes to this Privacy Policy means that you are consenting to the changes.
            </p>

            <h3 class = "static-main-txt">1. What information we collect</h3>
            <h3 class = "static-main-txt">1.1. Data Controllers</h3>
            <p class = "static-hd-text2">
                Our Privacy Policy applies to any Member. We collect information when you use our Services to offer you a personalized and relevant experience, including growing your network and enabling recruitment opportunities.<br><br>

                If you have any concern about providing information to us or having such information displayed on our Services or otherwise used in any manner permitted in this Privacy Policy and the User Agreement, you should not become a Member, visit our website, apps or otherwise use our Services. If you have already registered, you can request to close your account at support@Gaugestage.com.
                <br>
                We collect your personal information in the following ways:
            </p>

            <h3 class = "static-main-txt">1.2. Registration</h3>
            <p class = "static-hd-text2">
                When you create an account with us, we collect information (including your name, email address, and password).<br><br>

                To create an account on Gaugestage, you must provide us with at least your name, email address, user type and a password and agree to our User Agreement and this Privacy Policy, which governs how we treat your information. You may provide additional information during the registration flow (for example, personal summary, athletic experiences, and academic background) to help you build your profile. You understand that, by creating an account, we and others will be able to identify you by your Gaugestage profile.
            </p>

            <h3 class = "static-main-txt">1.3. Profile Information</h3>
            <p class = "static-hd-text2">
                We collect information when you fill out a profile. A complete Gaugestage profile that includes personal details – like your position, experiences, video, education, awards and honors, contact information and skills – helping you be found by other people for opportunities.<br><br>

                After you create an account, you may choose to provide additional information on your Gaugestage profile, such as descriptions of your skills, sport experience, and educational background. You can list awards, tests scores, personal objectives, and other information including content. Those you choose to connect with may provide recommendations and endorsements of you. Providing additional information enables you to derive more benefit from our Services by helping you express your sport identity; find others, opportunities, and information; and help recruiters and opportunities find you. Please do not provide personal information you would not want to be public. We may use and share information you provide in accordance with this Privacy Policy and our User Agreement.
            </p>

            <h3 class = "static-main-txt">1.4. Address Book and Other Services That Sync with Gaugestage</h3>
            <p class = "static-hd-text2">
                We collect information when you sync non-Gaugestage content – like your email address book or friend’s list with your account. <br><br>

                You may use our address book or “contacts” importer to upload your address book into our Services. We store this information (including phone numbers) and use it to help you manage and leverage your contacts in connection with our Services. We also use this information to enhance your experience with our Services by helping you to grow your network by: identifying your contacts that are already Members of our Services; providing a template to send invitations on your behalf to your contacts that are not Members; and suggesting people you may know (even if not in your contacts) but are not yet connected with you on our Services (as we may infer from your shared connections, teams, educational institutions and other such factors). We may also use this information to show you and other Members that you share the same uploaded contacts who may or may not be Members.<br><br>

                Please note that when you send an invitation to connect to another individual on our Service (a “connection”) or to join our Service to connect with you, that person may have access to your email address because it may be displayed in the invitation. After sending these invitations, we may also remind your invitees of your invitation on your behalf. Your Gaugestage connections will also have access to your email address.<br><br>

                We make other tools available to sync information with our Services, and may also develop additional features that allow Members to use their account in conjunction with other third-party services. <br><br>

                Any information that you upload or sync with our Services is covered by the User Agreement and this Privacy Policy.
            </p>

            <h3 class = "static-main-txt">1.5. Customer Service</h3>
            <p class = "static-hd-text2">
                We collect information when you contact us for customer support.<br><br>

                When you contact our customer support services (e.g. email), we may have to access your account and collect the information we need to categorize your question, respond to it, and, if applicable, investigate any breach of our User Agreement or this Privacy Policy. We also use this information to track potential problems and trends and customize our support responses to better serve you. We do not use this information for advertising.
            </p>

            <h3 class = "static-main-txt">1.6. Using the Gaugestage Site and Application</h3>
            <p class = "static-hd-text2">
                We collect information when you visit our Service. <br><br>

                We collect information when you use (whether as a Member or a Visitor) our websites, applications, our platform technology. For example, we collect information when you perform a search, import your address book, and apply to positions through our Services. If you are logged in on Gaugestage.com, one of our cookies on your device identifies you, your usage information and the log data, such as your IP address, will be associated by us with your account. Even if you’re not logged into a Service, we log information about devices used to access our Services, including IP address.
            </p>

            <h3 class = "static-main-txt">1.7. Other</h3>
            <p class = "static-hd-text2">
                We are constantly innovating to improve our Services, which means we may create new ways to collect information on the Services.<br><br>

                Our Services are a dynamic, innovative environment, which means we are always seeking to improve the Services we offer you. We often introduce new features, some of which may result in the collection of new information (for example, when the Endorsements feature launched, we began collecting information about skills for which Members were endorsed and the individuals who endorsed them). We may potentially collect new types of information. If we start collecting substantially new types of personal information and materially change how we handle your data, we will modify this Privacy Policy and notify you in accordance with Section 4.3.
            </p>

            <h3 class = "static-main-txt">2. How we use your personal information</h3>
            <h3 class = "static-main-txt">2.1. Consent to Gaugestage Processing Information About You</h3>
            <p class = "static-hd-text2">
                You agree that information you provide on your profile can be seen by others and used by us as described in this Privacy Policy and our User Agreement.<br><br>

                The personal information that you provide to us may reveal or allow others to identify aspects of your life that are not expressly stated on your profile (for example, your picture or your name may reveal your gender). By providing personal information to us when you create or update your account and profile, you are expressly and voluntarily accepting the terms and conditions of our User Agreement and freely accepting and agreeing to our processing of your personal information in ways set out by this Privacy Policy. Supplying to us any information deemed “sensitive” by applicable law is entirely voluntary on your part. You can withdraw or modify your consent to our collection and processing of the information you provide at any time, in accordance with the terms of this Privacy Policy and the User Agreement, by changing your details on your profile on Gaugestage, or by closing your Gaugestage accounts.
            </p>

            <h3 class = "static-main-txt">2.2. Gaugestage Communications</h3>
            <p class = "static-hd-text2">
                We communicate with you using Gaugestage messaging, email, phone and other ways available to us. We may send you emails or messages relating to the availability of the Services, security, or other service-related issues. We also may send promotional messages to your Gaugestage inbox or personal email. You can change request the termination of your account at support@Gaugestage.com if this is something you do not want.<br><br>

                We communicate with you through email, notices posted on the Gaugestage website or apps, messages to your Gaugestage inbox, and other means available through the Services, including mobile text messages and push notifications. Examples of these communications include: <br><br>(1) welcome and engagement communications - informing you about how to best use our Services, new features, updates about other Members you are connected to and their actions, etc.; <br><br>(2) service communications - these will cover service availability, security, and other issues about the functioning of our Services; <br><br>(3) promotional communications - these include both email and messages, and may contain promotional information. You can also opt out of promotional messages by sending a request to Gaugestage support@Gaugestage.com <br><br>

                Please be aware that you cannot opt out of receiving service messages from us.
            </p>

            <h3 class = "static-main-txt">2.3. User Communications</h3>
            <p class = "static-hd-text2">
                With certain communications you send on our Services, the recipient can see your name, email address, and some network information.<br><br>

                Many communications that you initiate through our Services (for example, an invitation sent to a non-Member) will list your name and primary email address in the header of the message. Other communications that you initiate through the Services, like a request for an introduction, will list your name as the initiator but will not include your personal email address contact information. Once you have connected with an individual, regardless of who sent the invitation, your contact information will be shared with that individual.
            </p>

            <h3 class = "static-main-txt">2.4. Service Development; Customized Experience</h3>
            <p class = "static-hd-text2">
                We use the information and content you provide to us to conduct research and development and to customize your experience and try to make it relevant and useful to you.<br><br>

                We use information and content that you and other Members provide to us to conduct research and development for the improvement of our Services in order to provide you and other Members and Visitors with a better, more intuitive experience and drive membership growth and engagement on our Services and to help connect professionals to economic opportunity.<br><br>

                We also customize your experience and the experiences of others on our Services. For example, when you sign in to your account, we may display the names and photos of new Members who have recently joined your network or recent updates from your connections and institutions you follow. We try to show you content, such as updates, that are relevant to you, your sport, or your likings. We also use Members information and content for invitations and communications promoting our Services that are tailored to the recipient.
            </p>

            <h3 class = "static-main-txt">2.5. Sharing Information with Recruiters</h3>
            <p class = "static-hd-text2">
                We share your information with athletic recruiters.<br><br>

                We may share your personal information with recruiters (meaning entities controlled by, controlling or under common control of an athletic institution) outside of the Gaugestage entity that is your data controller (for example, Gaugestage may share your information with Recruiters on the University of Iowa football team, or other operating entities) as reasonably necessary to provide the Services. You are consenting to this sharing.
            </p>

            <h3 class = "static-main-txt">2.6. Sharing Information with Third Parties</h3>
            <p class = "static-hd-text2">
                Any information you put on your profile and any content you post on Gaugestage may be seen by others.<br><br>

                We don’t provide any of your non-public information (like your email address) to third parties without your consent, unless required by law, or as described in Sections 2.6 and 2.14 of this Policy.<br><br>

                Other people may find your Gaugestage profile information through search engines, or use services like Twitter in conjunction with your Gaugestage account.<br><br>

                The visibility of your athletic profile to other Members depends on your degree of connection with the viewing Member, the subscriptions they may have, their usage of the Services, access channels and search types (e.g. by name or by keyword). For example, first degree connections can see your full profile and contact information. Others have more limited access. Please note that recruiters and other such professional subscribers can see your full profile even if you did not approve their connection request.<br><br>

                We do not rent or sell personal information that you have not posted on our Services, except as described in this Privacy Policy. We will not disclose personal information that is not published to your profile or generated through engagement with our other services, such as Team Pages, except to carry out your instructions or unless we have your separate consent, unless we have a good faith belief that disclosure is permitted by law or is reasonably necessary to: <br><br>(1) comply with a legal requirement or process, including, but not limited to, civil and criminal subpoenas, court orders or other compulsory disclosures; <br><br>(2) enforce this Privacy Policy or our User Agreement; <br><br>(3) respond to claims of a violation of the rights of third parties; <br><br>(4) respond to Member service inquiries; or <br><br>(5) protect the rights, property, or safety of Gaugestage, our Services, our Members, Visitors, or the public. See Section 2.14 for additional details about our compliance with legal requests for information.<br><br>

                We support middleware providers that offer archiving solutions to instutions subject to legal and regulatory archiving requirements, which, with your permission, facilitate the archiving of your communications and other activity by a third party for compliance purposes. Content distributed through our sharing features and third-party integrations may result in displaying some of your personal information outside of our Services. For example, when you communicate content to a recruiter, your content, including your name as the contributor, may be displayed there within NCAA compliance reports.<br><br>

                Also, if you have opted to bind any of your Service accounts to your Twitter, Facebook or other similar account, you can easily share content from our Services to these third party services, in accordance with your account settings and respective policies of these third parties. Further, we allow third parties to look-up profile information using your email address or first and last name information through its profile API (see Section 2.7. below).<br><br>

                Third parties (for example, your email provider) may give you the option to upload certain information in your contacts stored with us onto their own service. If you choose to share your contacts in this way, you will be granting your third party provider the right to store, access, disclose and use your these contacts in the ways described in such third party's terms and privacy policy.
            </p>

            <h3 class = "static-main-txt">2.9. Search</h3>
            <p class = "static-hd-text2">
                Our Services help you search for other participants, institutions, recruiters, and opportunites.<br><br>

                You can search for Members, opportunities, information about teams, and community content from Groups on our Services. For example, you can find Members with particular expertise or experience, or Members that you may know from your experience. You can also find recruitment opportunities and information about institutions. We use personal information from our Services, including Member profiles, and Team Pages, to inform and refine our search service.
            </p>

            <h3 class = "static-main-txt">2.10. Our Information</h3>
            <p class = "static-hd-text2">
                You are responsible for any information you post on our Services, and this content will be accessible to others.<br><br>

                If you participate in Newsfeed, share content on your network update stream, or import a blog or other content, you should be aware that any information you choose to disclose using these services can be read, collected, and used by other Members in these forums, developers, and other third parties, including advertisers. We are not responsible for the information you choose to submit in these forums. Your contributions are typically searchable on our Services and some content may be public and searchable on the Internet. Others may have copied and used the information that you shared.
            </p>

            <h3 class = "static-main-txt">2.11. Testimonials and Advertisements Placed through Gaugestage Ads</h3>
            <p class = "static-hd-text2">
                If you provide any testimonials about our goods or services or place advertisements through the Gaugestage Ads, we may post those testimonials and examples of advertisements you place in connection with our promotion of these services to third parties. Testimonials and advertisements may include your name and other personal information that you have provided.
            </p>

            <h3 class = "static-main-txt">2.12. Talent Recruiting, Marketing Solutions</h3>
            <p class = "static-hd-text2">
                We offer a premium service to recruiters and others, which can be used to search for, organize, and communicate with potential recruits or offer recruitment opportunities. In some cases we allow the export of public profile information. <br><br>

                We offer customized people-search functionality along with organizational and communications tools (including activity alerts) as part of our talent recruiting, marketing solutions. These services allow subscribers - generally, teams and collegiate organizations - to export information from Members’ public profiles, such as name, headline, current Team, current title, and location (for example, San Francisco Bay Area), in order to effectively manage recruiting. If you post that information as part of your profile it will be available to them and others. A recruiter or other such subscriber may also manage and store information it has independently obtained about you outside of our Services, such as a resume, in connection with our platform. Any personal information obtained independently of our Services will not be added by us to your profile and is not under our control but is subject to the policies of our recruiting, marketing solution subscriber. We store such information on behalf of such subscriber who can remove it at any time. We do not further process such information.
            </p>

            <h3 class = "static-main-txt">2.13. Pages for Institutions, Schools, Influencers, and Other Entities</h3>
            <p class = "static-hd-text2">
                Institutions and other entities can create pages on our Services. If you follow one of these pages, identifiable information about you will be provided to the page’s administrators.<br><br>

                Certain pages on the Services are public (e.g., Team and college pages), and any communications or information shared through them will be accessible by the entity that created them. If you follow a person or organization, you will be listed among its followers, which can be viewed by others including the page owner. We use aggregate information about followers and viewers to provide data about such pages’ performance (for example, visits and updates).
            </p>

            <h3 class = "static-main-txt">2.14. Compliance with Legal Process and Other Disclosures</h3>
            <p class = "static-hd-text2">
                We may disclose your personal information if compelled by law, subpoena, or other legal process, or if necessary to enforce our User Agreement.<br><br>

                It is possible that we may need to disclose personal information, profile information, or information about your activities as a Member or Visitor when required by law, subpoena, or other legal process, whether in the United States, Ireland, or other jurisdictions, or if we have a good faith belief that disclosure is reasonably necessary to <br><br>(1) investigate, prevent, or take action regarding suspected or actual illegal activities or to assist government enforcement agencies; <br><br>(2) enforce the User Agreement, investigate and defend ourselves against any third-party claims or allegations, or protect the security or integrity of our Service; or <br><br>(3) exercise or protect the rights, property, or safety of Gaugestage, our Members, personnel, or others. We attempt to notify Members about legal demands for their personal information when appropriate in our judgment, unless prohibited by law or court order or when the request is an emergency. In light of our principles, we may dispute such demands when we believe, in our discretion, that the requests are overbroad, vague or lack proper authority, but do not commit to challenge every demand. To find out more about how we engage with government requests for data see our Law Enforcement Data Request Guidelines.
            </p>

            <h3 class = "static-main-txt">2.15. Disclosures to Others as the Result of a Change in Control or Sale of Gaugestage Corporation</h3>
            <p class = "static-hd-text2">
                If there is a change in control or sale of all or part of Gaugestage, we may share your information with a third party, who will have the right to use that information in line with this Privacy Policy.<br><br>

                We may also disclose your personal information to a third party as part of a sale of the assets of Backyad Lion Corporation (doing business as Gaugestage), a subsidiary, or division, or as the result of a change in control of the Team or one of its affiliates, or in preparation for any of these events. Any third party to which we transfers or sells our assets will have the right to continue to use the personal and other information that you provide to us in the manner set out in this Privacy Policy.
            </p>

            <h3 class = "static-main-txt">2.16. Service Providers</h3>
            <p class = "static-hd-text2">
                We may employ third parties to help us with the Services<br><br>

                We may employ third party institutions and individuals to facilitate our Services (e.g. maintenance, analysis, audit, marketing and development). These third parties have limited access to your information only to perform these tasks on our behalf and are obligated to Gaugestage not to disclose or use it for other purposes.
            </p>

            <h3 class = "static-main-txt">2.17 Data Processing Outside Your Country</h3>
            <p class = "static-hd-text2">
                We may process your information outside the country where you live.<br><br>

                We may transfer your information and process it outside your country of residence, wherever Gaugestage, its affiliates and service providers operate.
            </p>

            <h3 class = "static-main-txt">3. Your Choices & Obligations</h3>
            <h3 class = "static-main-txt">3.1. Rights to Access, Correct, or Delete Your Information. You can change your Gaugestage information at any time by editing your profile content that you have posted. You can also ask us for additional information we may have about your account.</h3>
            <p class = "static-hd-text2">
                You have a right to <br>(1) access, modify, correct your personal information controlled by Gaugestage regarding your profile, <br>(2) change your content, and <br>(3) close your account. If you close your account(s), your information will generally be removed from the Service within 24 hours. We generally delete closed account information and will de-personalize any logs or other backup information through the deletion process within 30 days of account closure, except as noted below.
                <br><br>
                Please note: Information you have shared with others (for example, through inbox, network updates, content sharing, or Groups) or that others have copied may also remain visible after you have closed your account or deleted the information from your own profile. Groups content associated with closed accounts will show an unknown user as the source. In addition, you may not be able to access, correct, or eliminate any information about you that other Members copied or exported out of our Services, because this information may not be in our control. Your public profile may be displayed in search engine results until the search engine refreshes its cache.
            </p>

            <h3 class = "static-main-txt">3.2. Data Retention</h3>
            <p class = "static-hd-text2">
                We keep your information for as long as your account is active or as needed. For example, we may keep certain information even after you close your account if it is necessary to comply with our legal obligations, meet regulatory requirements, resolve disputes, prevent fraud and abuse, or enforce this agreement.<br><br>

                We retain the personal information you provide while your account is in existence or as needed to provide you services.We may retain your personal information even after you have closed your account if retention is reasonably necessary to comply with our legal obligations, meet regulatory requirements, resolve disputes between Members, prevent fraud and abuse, or enforce this Privacy Policy and our User Agreement. We may retain personal information, for a limited period of time, if requested by law enforcement. Our Customer Service may retain information for as long as is necessary to provide support-related reporting and trend analysis only, but we generally delete or de-personalize closed account data consistent with Section 3.1., except in the case of our plugin impression data (i.e., the information that you visited on sites carrying our social plugin, but which you did not click on), which we de-personalize within 7 days (although we do maintain 30 days worth of webserver logs for security, debugging, and site stability purposes only) by creating aggregate data sets that cannot be traced back to individuals.
            </p>

            <h3 class = "static-main-txt">4. Important Information</h3>
            <h3 class = "static-main-txt">4.1. Minimum Age</h3>
            <p class = "static-hd-text2">
                You have to meet Gaugestage’s minimum age requirements to create an account.<br><br>

                As described in Section 2.1 of the User Agreement, persons must be of Minimum Age to use Gaugestage.
            </p>

            <h3 class = "static-main-txt">4.2. Changes to this Privacy Policy</h3>
            <p class = "static-hd-text2">
                We will notify you when we change this Privacy Policy.<br><br>

                We may change this Privacy Policy from time to time. If we make significant changes in the way we treat your personal information, or to the Privacy Policy, we will provide notice to you on the Services or by some other means, such as email. Please review the changes carefully. If you agree to the changes, simply continue to use our Services. If you object to any of the changes to our terms and you no longer wish to use our Services, you may close your account(s). Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account. Using our Services after a notice of changes has been communicated to you or published on our Services shall constitute consent to the changed terms or practices.
            </p>

            <h3 class = "static-main-txt">4.3. California's Shine the Light Law</h3>
            <p class = "static-hd-text2">
                We don’t share any of your personal information with third parties for direct marketing.<br><br>

                California Civil Code Section 1798.83, known as the “Shine The Light” law, permits our customers who are California residents to request and obtain from us a list of what personal information (if any) we disclosed to third parties for direct marketing purposes in the preceding calendar year and the names and addresses of those third parties. Requests may be made only once a year and are free of charge. Under Section 1798.83, we currently do not share any personal information with third parties for their direct marketing purposes.
            </p>

            <h3 class = "static-main-txt">4.4. Security</h3>
            <p class = "static-hd-text2">
                We take privacy and security seriously and have enabled HTTPS access to our site, in addition to existing SSL access over mobile devices. Also, please know that the Internet is not a secure environment, so be careful and select strong passwords.<br><br>

                We have implemented security safeguards designed to protect the personal information that you provide in accordance with industry standards. Access to your data on our Services is password-protected, and data such as credit card information is protected by SSL encryption when it is exchanged between your web browser and the Services. We also offer secure https access to the Gaugestage.com website. To protect any data you store on our servers, we also regularly monitor our system for possible vulnerabilities and attacks, and we use a tier-one secured-access data center. However, since the Internet is not a 100% secure environment, we cannot ensure or warrant the security of any information that you transmit to us. There is no guarantee that information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. It is your responsibility to protect the security of your login information. Please note that emails, instant messaging, and similar means of communication with other Members are not encrypted, and we strongly advise you not to communicate any confidential information through these means. Please help keep your account safe by using a strong password.
            </p>
        </div>
      </div>
    </div>
    </section>
  <section><%= render "footer" %></section>
</div>