<p>Dear <%= @full_name %></p>,
<p>We hope you're well!</p>
<p>Starting a company poses many challenges.  Unfortunately, a big challenge for Backyard Lion is handling the
costs associated with running a business.  We believe strongly in being able to provide a platform that gives
all athletes an opportunity but the fact that we don't make any money has made it impossible to continue operations.</p>
<p>Thank you for your support and we wish you all the best.</p>
<p>Most sincerely,</p>
<p>Devan Moylan</p>
<p>Backyard Lion CEO</p>