<%= title 'Athlete Requests' %>



<div class="container main-container">
  <div class="page-header">
    <h1 class="primary-color">Information <small>request</small></h1>
  </div>
  <%= render "form" %>
</div>