Hey, <br />

<p>I just signed up on Backyard Lion and I thought you'd like it too! <br /><br />

  It's helped me connect with college coaches and it's free. <br /><br />

  The link:<br />

  www.BackyardLion.com<br /><br/>

  Best, <br /><br />

  <%= @user %><br />

  ps: Let me know if it helps.</p>
