<p>Hi Coach <%= @last_name %>, </p>

<p>My name is Devan Moylan.  I have been working on a project through University of Iowa's Venture School program.  My colleague and I are
  very interested in learning more about recruiting for <%= @sport %>.  We are working on building a platform to connect high school
  athletes with college coaches and would love to get your feedback on what we have so far.  We thought as <%= @position %> at
  <%= @college %> that you'd be a great person to reach out to and get some advice on how we can improve. </p>

<br />
<p>Would you be open to helping us out?</p>

<br />
<p> Thanks, and I hope your 2017 is off to a great start! </p>
<p>Devan Moylan</p>
<p>PS. My LinkedIn profile is here: https://www.linkedin.com/in/devan-moylan-2a613917  (so you can be assured this is not spam.)</p>

