<h1>Profile Strength Summary for <%= Date.today %></h1>
<h3>Overall score average: <%= @overall_score_average %> (Out of 147 total)</h3>
<h3>Overall percentage average: <%= @overall_score_percentage %></h3>