.no-left-margin {
  margin-left: 10px;
}

.admin-table {
  font-size: 10px;
  border: 1px solid #f0efef;
}

.admin-analytics-header {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.header-row {
  border: 1px solid #f0efef;
  background-color: #0D4775;
  color: white;
}

.sort_link {
  color: white;
}

.athletes-admin-dash {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.devan-byl-logo {
  height: 50px;
  width: 80px;
  margin-top: -10px;
}