#athlete-prof-academic-info {
  display: none;
}

#athlete-prof-contact-info {
  display: none;
}

#athlete-prof-guardian-info {
  display: none;
}

#preferences {
  display: none;
}

#experiences-div {
  display: none;
  margin-bottom: 100px;
}

#coaches-div {
  display: none;
  margin-bottom: 100px;
}

#athlete-photos-info {
  display: none;
  margin-bottom: 100px;
}

#skills-div {
  display: none;
  margin-bottom: 100px;
}

#awards-div {
  display: none;
  margin-bottom: 100px;
}